/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

/* Estilos Vitorianos */
body {
  background-color: #000000;
  color: #333;
  font-family: "Times New Roman", serif;
}

.navbar-dark.bg-dark {
  background-color: #3e2723 !important; /* Marrom escuro */
}

.card {
  background-color: #ece4db;
  border: 1px solid #d0c6b1;
}

.btn-dark {
  background-color: #504a40;
  border-color: #3e3431;
}
