.container {
  background-color: #1c1c1c;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #d4af37;
  font-family: 'Creepster', cursive;
  text-shadow: 2px 2px 5px #000;
}

.table {
  color: #ffffff;

  th {
    background-color: #343a40;
  }

  .table-danger {
    background-color: #721c24;
    color: #ffffff;
  }

  .btn {
    &.btn-success {
      background-color: #28a745;
      border: none;

      &:hover {
        background-color: #218838;
      }
    }

    &.btn-info {
      background-color: #17a2b8;
      border: none;
      padding: 5px 10px;

      &:hover {
        background-color: #138496;
      }
    }

    &.btn-danger {
      background-color: #dc3545;
      border: none;
      padding: 5px 10px;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
}
